/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

body, html {
    height: 100%;
    width: 100%;
}

:root {
    /* Primitives */
    --purple-strong: #8A0793;
    --purple-weak: #FDE8FF;

    /* Padding */
    --padding-card: 24px;
    --padding-card-inner: 16px;
    --padding-button: 16px 24px;

    /* Widths */
    --container-width: 800px;

    /* Colors */
    --color-yellow-soft: #F8F0E1;
    --color-yellow-bright: #FFFAF0;
    --color-yellow-strong: #2B1D05;
    --color-text: #2B1D05;
    --color-text-secondary: rgba(43, 29, 5, 0.8);
    --color-background-button-primary: var(--purple-strong);
    --color-foreground-button-primary: var(--purple-weak);
    --color-background-button-alt: var(--color-text);
    --color-foreground-button-alt: var(--color-yellow-soft);

    /* Radius */
    --radius-card: 20px;
    --radius-pill: 8px;
    --radius-button-link: 4px;

    /* Grid */
    --space-grid: 20px;
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 48px;

    /* Shadows */
    --shadow-card: 0px 13px 5px rgba(255, 199, 96, 0.01), 0px 7px 4px rgba(255, 204, 109, 0.04), 0px 3px 3px rgba(209, 136, 0, 0.04), 0px 1px 2px rgba(126, 82, 0, 0.04), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    --shadow-button-primary: 0px 13px 5px rgba(244, 96, 255, 0.01), 0px 12px 4px rgba(245, 109, 255, 0.04), 0px 6px 16px rgba(195, 0, 209, 0.04), 0px 2px 12px rgba(118, 0, 126, 0.2), inset 0px 4px 4px rgba(255, 255, 255, 0.24);
    --shadow-button-alt: 0px 13px 5px rgba(255, 197, 96, 0.01), 0px 7px 4px rgba(255, 201, 109, 0.04), 0px 3px 3px rgba(209, 132, 0, 0.04), 0px 2px 8px rgba(126, 80, 0, 0.4), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    --shadow-header: 0px 13px 5px rgba(255, 197, 96, 0.01), 0px 7px 4px rgba(255, 201, 109, 0.04), 0px 3px 3px rgba(209, 132, 0, 0.04), 0px 2px 8px rgba(126, 80, 0, 0.4), inset 0px 4px 4px rgba(255, 255, 255, 0.25);

    /* Typography */
    --family-title: 'Alice', serif;
    --weight-title: 400;
    --size-title: 2rem;
    --size-title-secondary: 1.75rem;
    --size-title-tertiary: 1.5rem;
    --line-height-title: 100%;
    --family-body: 'DM Sans', sans-serif;
    --weight-body: 400;
    --size-body: 1.1rem;
    --line-height-body: 140%;
    --letter-spacing-body: .2px;
    --size-small: .9rem;
    --size-menu: 1rem;
}

@media all and (min-width: 768px) {
    :root {
        --space-grid: 32px;
        --space-1: 8px;
        --space-2: 16px;
        --space-3: 32px;
        --space-4: 48px;
        --space-5: 64px;
        --size-title: 3rem;
        --size-body: 1.25rem;
        --size-menu: 14px;
        --padding-card: 40px;
    }
}

a {
    color: #3b4040;
}

h1, h2, h3, h4, h5, h6, .serif {
    font-family: 'Alice', serif;
}

body {
    background-color: var(--color-yellow-bright);
    color: var(--color-text);    
    font-family: var(--family-body);
    font-weight: var(--weight-body);
    font-size: var(--size-body);
    line-height: var(--line-height-body);  
    padding: 20px 0;  
}

@media all and (min-width: 768px) {
    body {
        padding: var(--space-5) 0;
    }
}

p, li { 
    color: var(--color-text-secondary);
    letter-spacing: var(--letter-spacing-body);
}

li {
    list-style: inside;
}

figure {
    font-size: var(--size-small);
}

.strong {
    font-weight: 700;
}

.mt-1 {
    margin-top: var(--space-1);
}

.text {
    font-family: var(--family-body);
    font-size: var(--size-body);
    line-height: var(--line-height-body);
}

.text-small {
    font-size: var(--size-small);
}

.page-border {
    background: var(--color-yellow-soft);
    position: fixed;
}

.page-border-full {
    border: 2px solid white;
    bottom: 7px;
    left: 6px;
    right: 6px;
    top: 7px;
    border-radius: calc(var(--radius-card) + 12px);
    z-index: -1;
}

.page-border-bottom, .page-border-top {
    background-color: var(--color-yellow-bright);
}

.page-border-bottom {
    height: 6px;
    left: 6px;
    right: 6px;
    bottom: 0;
    z-index: 2;
}

.page-border-top {
    height: 6px;
    left: 6px;
    right: 6px;
    top: 0;
    border-radius: 0 0 var(--radius-card) var(--radius-card);
    z-index: 2;
}

@media all and (min-width: 768px) {
    .page-border-full {
        bottom: 13px;
        left: 12px;
        right: 12px;
        top: 13px;
    }

    .page-border-bottom {
        height: 12px;
        left: 12px;
        right: 12px;
    }

    .page-border-top {
        height: 12px;
        left: 12px;
        right: 12px;
    }
}

@keyframes containerFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    animation: containerFadeIn 3s ease 0s 1 normal forwards;
    display: flex;
    flex-direction: column;
    gap: var(--space-grid);
    margin: auto;
    max-width: var(--container-width);
    padding-bottom: var(--space-4);
    width: calc(100% - 40px);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2);
}

@media all and (min-width: 768px) {
    .hero {
        height: 80vh;
        gap: var(--space-4);
    }
}

.hero-grid {
    border-radius: var(--radius-card);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

@media all and (min-width: 768px) {
    .hero-grid {
        display: grid;
        grid-template-columns: 240px 3fr;
        grid-template-rows: 1fr;
    }
}

.menu {
    align-items: center;
    background: var(--color-yellow-bright);
    border: 2px solid white;
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-card);
    display: flex;
    font-size: var(--size-menu);
    justify-content: center;
    margin: 0;
    padding: 12px 16px;
    z-index: 3;
}

.menu ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    justify-content: center;
}

.menu li {
    list-style: none;
}

@media all and (max-width: 768px) {
    .menu ul {
            flex-wrap: wrap;
    }
    @keyframes headerFadeIn {
        0%, 50% {
            opacity: 0;
            margin-bottom: -100px;
        }

        75% {
            margin-bottom: 0;
            opacity: 1;
        }
    }

    .header {
        animation: headerFadeIn 2s ease 0s 1 normal forwards;
    }
}

@media all and (max-width: 768px) {
    .header {
        bottom: 12px;
        border-radius: 26px;
        left: 12px;
        right: 12px;
        position: fixed;
        z-index: 4;
    }
    .header.scrolled {
        bottom: 12px;
        left: 12px;
        right: 12px;
    }
}

@media all and (min-width: 768px) {
    .menu {
        padding: 16px 24px;
    }

    .header {
        border-radius: var(--radius-card);
    }

    .header ul {
        display: flex;
        gap: var(--space-3);
    }

    @keyframes headerFadeIn {
        0% {
            height: 0;
            opacity: 0;
            margin-top: -100px;
        }

        75% {
            opacity: 1;
            margin-top: 0;
        }
    }

    .header.scrolled {
        animation: headerFadeIn .5s ease 0s 1 normal forwards;
        position: fixed;
        top: var(--space-3);
        transform: translateX(-50%);
        left: 50%;
    }

}

.nav-link {
    align-items: center;
    display: flex;
    color: var(--color-text);
    font-weight: bold;
    gap: var(--space-1);
    text-decoration: none;
}

.nav-link:hover, .nav-link-active {
    color: var(--purple-strong);
}

.nav-icon {
    fill: var(--color-text);
    transition: all ease .25s;
}

.menu li:hover .nav-icon, .nav-link-active .nav-icon {
    fill: var(--purple-strong);
    transform: scale(1.1) rotate(-3deg);
}

.footer {
    margin-bottom: 120px;
}

.footer-nav ul {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar {
    border: 2px solid var(--color-yellow-border);
    border-radius: 6px;
}

.card {
    background: var(--color-yellow-bright);
    border: 2px solid white;
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-card);
    padding: var(--padding-card);
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.card-header {
    padding: var(--padding-card-inner);
}

.card-header .avatar {
    margin-bottom: var(--space-1);
    width: 100%;
}

.card-with-image {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

@media all and (min-width: 768px) {
    .card-with-image {
        align-items: center;
        display: grid;
        flex-direction: column-reverse;
        grid-template-columns: 1fr 240px;
        grid-template-rows: 1fr;
        grid-column-gap: var(--space-4);
    }
}

.card-with-image .card-image {
    order: -1;
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    order: 1;
}

@media all and (min-width: 768px) {
    .card-with-image .card-image {
        order: 1;
    }

    .body {
        order: -1;
    }
}

.card-title, .card-title-secondary, .card-title-tertiary {
    color: var(--color-yellow-strong);    
    font-family: var(--family-title);
    font-weight: var(--weight-title);
    line-height: var(--line-height-title);    
}

.card-title {
    font-size: var(--size-title);
}

.card-title-secondary {
    font-size: var(--size-title-secondary);
}

.card-title-tertiary {
    font-size: var(--size-title-tertiary);
}

.card-grid {
    display: flex;
    gap: var(--space-2);
}

.card-image {
    aspect-ratio: 1;
    box-shadow: 0px 0px 0px 2px var(--color-yellow-bright), 0px 0px 0px 4px var(--color-yellow-soft);
    border-radius: 8px;
    transform: rotate(-2deg);
    display: flex; 
}

.card-image img, .rounded-img {
    border-radius: 8px;
    width: 100%;
}

.title {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-1);    
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.link-block {
    border-radius: var(--radius-pill);
    box-shadow: var(--shadow-card);
    border: 1px solid var(--color-yellow-soft);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-1);
}

@media all and (min-width: 768px) {
    .link-block {
        align-items: center;
        flex-direction: row;
        padding: var(--space-2);
    }    
}

.mail-link {
    font-size: var(--size-small);
    display: block;
    text-align: center;
}

.button-link {
    align-items: center;
    border-radius: var(--radius-button-link);
    display: flex;
    flex-direction: column;
    padding: var(--padding-button);
    text-align: center;
    text-decoration: none;
    transition: all ease .25s;
    flex: 1;
}

.button-link:hover {
    transform: scale(1.01) translateY(-1px);
}

.button-link-primary {
    background: var(--color-background-button-primary);
    box-shadow: var(--shadow-button-primary);
    color: var(--color-foreground-button-primary);
}

.button-link-alt {
    background: var(--color-background-button-alt);
    box-shadow: var(--shadow-button-alt);
    color: var(--color-foreground-button-alt);
}

.pill-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
}

.pill {
    align-self: flex-start;    
    background: var(--color-yellow-soft);
    border-radius: var(--radius-pill);
    color: var(--color-text-secondary);
    display: flex;
    padding: 4px 8px;
}